// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: #DDD6FE;
    margin: 0;
    
}

a{
    text-decoration: none;
}